# coding: utf-8

"""
    Appliance Management API

    Management API for the Anapaya EDGE, CORE and GATE appliances

    The version of the OpenAPI document: v0.37.1
    Contact: ops@anapaya.net
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


import re  # noqa: F401
import io
import warnings

from pydantic import validate_arguments, ValidationError

from typing import Optional

from ansible.module_utils.appliance_api_client.models.tools_scion_ping_post_request import ToolsScionPingPostRequest
from ansible.module_utils.appliance_api_client.models.tools_scion_ping_post_response_json import ToolsScionPingPostResponseJson
from ansible.module_utils.appliance_api_client.models.tools_scion_showpaths_post_request import ToolsScionShowpathsPostRequest
from ansible.module_utils.appliance_api_client.models.tools_scion_showpaths_post_response_json import ToolsScionShowpathsPostResponseJson
from ansible.module_utils.appliance_api_client.models.tools_scion_traceroute_post_request import ToolsScionTraceroutePostRequest
from ansible.module_utils.appliance_api_client.models.tools_scion_traceroute_post_response_json import ToolsScionTraceroutePostResponseJson

from ansible.module_utils.appliance_api_client.api_client import ApiClient
from ansible.module_utils.appliance_api_client.api_response import ApiResponse
from ansible.module_utils.appliance_api_client.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class ToolsApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_arguments
    def tools_scion_ping_post(self, tools_scion_ping_post_request : Optional[ToolsScionPingPostRequest] = None, **kwargs) -> ToolsScionPingPostResponseJson:  # noqa: E501
        """Trigger a scion ping run  # noqa: E501

        Trigger and wait for a ping run to test connectivity to a remote SCION host using SCMP echo packets.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.tools_scion_ping_post(tools_scion_ping_post_request, async_req=True)
        >>> result = thread.get()

        :param tools_scion_ping_post_request:
        :type tools_scion_ping_post_request: ToolsScionPingPostRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: ToolsScionPingPostResponseJson
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the tools_scion_ping_post_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.tools_scion_ping_post_with_http_info(tools_scion_ping_post_request, **kwargs)  # noqa: E501

    @validate_arguments
    def tools_scion_ping_post_with_http_info(self, tools_scion_ping_post_request : Optional[ToolsScionPingPostRequest] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """Trigger a scion ping run  # noqa: E501

        Trigger and wait for a ping run to test connectivity to a remote SCION host using SCMP echo packets.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.tools_scion_ping_post_with_http_info(tools_scion_ping_post_request, async_req=True)
        >>> result = thread.get()

        :param tools_scion_ping_post_request:
        :type tools_scion_ping_post_request: ToolsScionPingPostRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(ToolsScionPingPostResponseJson, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'tools_scion_ping_post_request'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method tools_scion_ping_post" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['tools_scion_ping_post_request'] is not None:
            _body_params = _params['tools_scion_ping_post_request']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/json+problem'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = []  # noqa: E501

        _response_types_map = {
            '200': "ToolsScionPingPostResponseJson",
            '400': "BasicError",
            '500': "BasicError",
        }

        return self.api_client.call_api(
            '/tools/scion/ping', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def tools_scion_showpaths_post(self, tools_scion_showpaths_post_request : Optional[ToolsScionShowpathsPostRequest] = None, **kwargs) -> ToolsScionShowpathsPostResponseJson:  # noqa: E501
        """Trigger a SCION showpaths request  # noqa: E501

        Trigger a SCION showpaths request to a remote SCION AS.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.tools_scion_showpaths_post(tools_scion_showpaths_post_request, async_req=True)
        >>> result = thread.get()

        :param tools_scion_showpaths_post_request:
        :type tools_scion_showpaths_post_request: ToolsScionShowpathsPostRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: ToolsScionShowpathsPostResponseJson
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the tools_scion_showpaths_post_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.tools_scion_showpaths_post_with_http_info(tools_scion_showpaths_post_request, **kwargs)  # noqa: E501

    @validate_arguments
    def tools_scion_showpaths_post_with_http_info(self, tools_scion_showpaths_post_request : Optional[ToolsScionShowpathsPostRequest] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """Trigger a SCION showpaths request  # noqa: E501

        Trigger a SCION showpaths request to a remote SCION AS.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.tools_scion_showpaths_post_with_http_info(tools_scion_showpaths_post_request, async_req=True)
        >>> result = thread.get()

        :param tools_scion_showpaths_post_request:
        :type tools_scion_showpaths_post_request: ToolsScionShowpathsPostRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(ToolsScionShowpathsPostResponseJson, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'tools_scion_showpaths_post_request'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method tools_scion_showpaths_post" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['tools_scion_showpaths_post_request'] is not None:
            _body_params = _params['tools_scion_showpaths_post_request']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/json+problem'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = []  # noqa: E501

        _response_types_map = {
            '200': "ToolsScionShowpathsPostResponseJson",
            '400': "BasicError",
            '500': "BasicError",
        }

        return self.api_client.call_api(
            '/tools/scion/showpaths', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def tools_scion_traceroute_post(self, tools_scion_traceroute_post_request : Optional[ToolsScionTraceroutePostRequest] = None, **kwargs) -> ToolsScionTraceroutePostResponseJson:  # noqa: E501
        """Trigger a scion traceroute run  # noqa: E501

        Trigger a SCION traceroute run and trace the SCION path to a remote AS using SCMP traceroute packets.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.tools_scion_traceroute_post(tools_scion_traceroute_post_request, async_req=True)
        >>> result = thread.get()

        :param tools_scion_traceroute_post_request:
        :type tools_scion_traceroute_post_request: ToolsScionTraceroutePostRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: ToolsScionTraceroutePostResponseJson
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the tools_scion_traceroute_post_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.tools_scion_traceroute_post_with_http_info(tools_scion_traceroute_post_request, **kwargs)  # noqa: E501

    @validate_arguments
    def tools_scion_traceroute_post_with_http_info(self, tools_scion_traceroute_post_request : Optional[ToolsScionTraceroutePostRequest] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """Trigger a scion traceroute run  # noqa: E501

        Trigger a SCION traceroute run and trace the SCION path to a remote AS using SCMP traceroute packets.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.tools_scion_traceroute_post_with_http_info(tools_scion_traceroute_post_request, async_req=True)
        >>> result = thread.get()

        :param tools_scion_traceroute_post_request:
        :type tools_scion_traceroute_post_request: ToolsScionTraceroutePostRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(ToolsScionTraceroutePostResponseJson, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'tools_scion_traceroute_post_request'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method tools_scion_traceroute_post" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['tools_scion_traceroute_post_request'] is not None:
            _body_params = _params['tools_scion_traceroute_post_request']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/json+problem'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = []  # noqa: E501

        _response_types_map = {
            '200': "ToolsScionTraceroutePostResponseJson",
            '400': "BasicError",
            '500': "BasicError",
        }

        return self.api_client.call_api(
            '/tools/scion/traceroute', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))
